<div class="central">
  <div class="central-inner">
    <div class="central-text">
      <div class="cental-text-top">Built for developers</div>
      <div class="central-text-bottom">
        <p>
          GitHub is a development platform inspired by the way you work. From open source to business, you can host and review code, manage projects, and build software alongside millions of other developers.
        </p>
      </div>
    </div>
    <%= render partial: 'form' %>
  </div>
</div>
