<h1>GitClub</h1>

<p>Hi <%= @user.name %>,</p>

<p>
  Welcome to the GitClub! Click on the link below to activate your account:
</p>

<%= link_to "Activate", activate_url(@user.activation_token,
                                                    email: @user.email) %>