.input-form {
  margin-top: 120px;
  float: right;
  width:380px;
  background-color: white;
  height: 440px;
  border-radius: 3px;
}

.input-form-inner {
  padding: 25px;
}

.table-row {
  display: table-row;
}

.table-cell.name {
  vertical-align: top;
  width: 330px;
  font-weight: bolder;
  padding-bottom: 10px;
  color: #586069;
  font-size: 0.9em;
  font-weight: 400;
}

.table-cell {
  display: table-cell;
  padding-bottom: 20px;

  input {
    border-radius: 5px;
    font-size: 1.4em;
    padding: 0px;
    height: 20px;
    width: 310px;
    padding: 10px;
  }
}

.btn-primary {
  height: 40px;
  color: #fff;
  background-color: #28a745;
  background-image: linear-gradient(-180deg, #34d058 0%, #28a745 90%);
}

.btn {
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid rgba(27,31,35,0.2);
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

