/* Main tags */

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

button, html [type="button"], [type="reset"], [type="submit"]{
  -webkit-appearance: button;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  line-height: 1.5;
  color: #24292e;
  background-color: #fff;
  min-width: 1020px;
  word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  display: block;
  font-size: 1.5em;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}

h3 {
  font-size: 20px;
  font-weight: 600 bold;
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

h4 {
  font-size: 16px;
  font-weight: 600;
}

h4 {
  display: block;
  -webkit-margin-before: 1.33em;
  -webkit-margin-after: 1.33em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}

p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

div {
  display: block;
}

* {
  box-sizing: border-box;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

ul, menu, dir {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}

ul, ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

ol ul, ul ol, ul ul, ol ol {
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
}

a {
  color: #0366d6;
  text-decoration: none;
}

a {
  background-color: transparent;
}

a:-webkit-any-link {
  color: #000000;
  cursor: pointer;
  text-decoration: none;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

i, cite, em, var, address, dfn {
  font-style: italic;
}

form {
  display: block;
  margin-top: 0em;
}

label {
  font-weight: 600;
}

label {
  cursor: default;
}

input, select, textarea, button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button, input {
  overflow: visible;
}

button, input, select, textarea {
  font: inherit;
  margin: 0;
}

/* Classes */

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.issues-listing {
  position: relative;
}

.mb-4 {
  margin-bottom: 24px !important;
}

.subnav {
  margin-bottom: 20px;
}

.table-list-header {
  position: relative;
  margin-top: 20px;
  background-color: #f6f8fa;
  border: 1px solid #e1e4e8;
  border-radius: 3px 3px 0 0;
}

.border-left {
  border-left: 1px #e1e4e8 solid !important;
}

.border-bottom {
  border-bottom: 1px #e1e4e8 solid !important;
}

.border-right {
  border-right: 1px #e1e4e8 solid !important;
}

.paginate-container {
  margin-top: 20px;
  margin-bottom: 15px;
  text-align: center;
}

.text-center {
  text-align: center !important;
}

.p-4 {
  padding: 24px !important;
}

.rounded-1 {
  border-radius: 3px !important;
}

.border-gray-light {
  border-color: #eaecef !important;
}

.border {
  border: 1px #e1e4e8 solid !important;
}

.position-relative {
  position: relative !important;
}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

.col-6 {
  width: 50%;
}

.mb-1 {
  margin-bottom: 4px !important;
}

.IssueLabel {
  height: 20px;
  padding: 3px 4px;
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
  border-radius: 2px;
  box-shadow: inset 0 -1px 0 rgba(27, 31, 25, 0.12);
}

.d-inline-block {
  display: inline-block !important;
}

.v-aligin-top {
  vertical-align: text-top !important;
}

.float-right {
  float: right !important;
}

.btn-primary {
  color: #fff !important;
  background-color: #28a745;
  background-image: linear-gradient(-180deg, #34d058 0%, #28a745 90%);
}

.pl-3 {
  padding-left: 16px !important;
}

.py-2 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.float-left {
  float: left !important;
}

.mt-2 {
  margin-top: 8px !important;
}

.table-list-header-toggle .btn-link.selected, .table-list-header-toggle .btn-link.selected:hover {
  color: #24292e;
}

.table-list-header-toggle.states .selected {
  font-weight: 600;
}

.table-list-header-toggle .btn-link {
  color: #586069;
}

.table-list-header .btn-link {
  position: relative;
  display: inline-block;
  padding-top: 13px;
  padding-bottom: 13px;
  font-weight: normal;
}

.btn-link {
  display: inline-block;
  padding: 0;
  font-size: inherit;
  color: #0366d6;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-repeat: repeat-x;
  background-position: -1px -1px;
  background-size: 110% 110%;
  border: 1px solid rgba(27,31,35,0.2);
  border-radius: 0.25em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.btn:active, .btn.selected, [open]>.btn {
  background-color: #e9ecef;
  background-image: none;
  border-color: rgba(27,31,35,0.35);
  box-shadow: inset 0 0.15em 0.3em rgba(27,31,35,0.15);
}

.subnav-spacer-right {
  padding-right: 10px;
}

.subnav-search-context .btn {
  color: #444d56;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.subnav-search-context .select-menu-modal-holder {
  z-index: 30;
}

.subnav-search-context .btn:hover, .subnav-search-context .btn:focus, .subnav-search-context .btn:active, .subnav-search-context .btn.selected {
  z-index: 2;
}

.select-menu-modal-holder {
  position: absolute;
  z-index: 30;
  display: none;
}

.subnav-search-context .select-menu-modal {
  width: 220px;
}

.select-menu-modal {
  position: relative;
  width: 300px;

  overflow: hidden;
  font-size: 12px;
  color: #586069;
  background-color: #fff;
  background-clip: padding-box;
  border: 5px solid rgba(27,31,35,0.15);
  border-radius: 3px;
  box-shadow: 0 3px 12px rgba(27,31,35,0.15);
}

.select-menu-list {
  position: relative;
  max-height: 400px;
  overflow: auto;
}

.select-menu-item {
  text-align: left;
  background-color: #fff;
  border-top: 0;
  border-right: 0;
  border-left: 0;
}

.select-menu-item {
  display: block;
  padding: 8px 8px 8px 30px;
  overflow: hidden;
  color: inherit;
  cursor: pointer;
  border-bottom: 1px solid #eaecef;
}

.subnav-search-context+.subnav-search {
  margin-left: -1px;
}

.subnav-search {
  position: relative;
  margin-left: 10px;
}

.subnav-search-context+.subnav-search .subnav-search-input {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.subnav-search-input {
  width: 320px;
  padding-left: 30px;
  color: #586069;
}

.input-contrast {
  background-color: #fafbfc;
}

.form-control, .form-select {
  min-height: 34px;
  padding: 6px 28px;
  font-size: 16px;
  line-height: 20px;
  color: #24292e;
  vertical-align: middle;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  outline: none;
  box-shadow: inset 0 1px 2px rgba(27,31,35,0.075);
}

.subnav-search-icon {
  position: absolute;
  top: 9px;
  left: 8px;
  display: block;
  color: #c6cbd1;
  text-align: center;
  pointer-events: none;
}

.octicon {
  vertical-align: text-bottom;
}

.octicon {
  display: inline-block;
  vertical-align: text-top;
  fill: currentColor;
}

.subnav-item {
  position: relative;
  float: left;
  padding: 6px 14px;
  font-weight: 600;
  line-height: 20px;
  color: #586069 !important;
  border: 1px solid #e1e4e8;
}

.subnav-item:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.table-list-header-toggle .btn-link.selected, .table-list-header-toggle .btn-link.selected:hover {
  color: #24292e;
}

.table-list-header-toggle.states .selected {
  font-weight: 600;
}

.table-list-header .btn-link {
  position: relative;
  display: inline-block;
  padding-top: 13px;
  padding-bottom: 13px;
  font-weight: normal;
}

.table-list-header-toggle .select-menu {
  position: relative;
}

.table-list-header-toggle .select-menu-button {
  padding-right: 15px;
  padding-left: 15px;
}

.table-list-triage {
  display: none;
}

.border-left {
  border-left: 1px #e1e4e8 solid !important;
}

.border-bottom {
  border-bottom: 1px #e1e4e8 solid !important;
}

.border-right {
  border-right: 1px #e1e4e8 solid !important;
}

.Box-row--focus-gray.navigation-focus {
  background-color: #f6f8fa;
}

.Box-row:last-of-type {
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

.Box-row:first-of-type {
  border-top-color: transparent;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.p-0 {
  padding: 0 !important;
}

.Box-row {
  padding: 16px;
  margin-top: -1px;
  list-style-type: none;
  border-top: 1px solid #e1e4e8;
}

.table-fixed {
  table-layout: fixed !important;
}

.d-table {
  display: table !important;
}

.width-full {
  width: 100% !important;
}

.pt-2 {
  padding-top: 8px !important;
}

.pl-2 {
  padding-top: 8px !important;
}

.lh-condensed {
  line-height: 1.25 !important;
}

.p-2 {
  padding: 8px !important;
}
.col-9 {
  width: 75%;
}

.col-2 {
  width: 16.66667%;
}

.tooltipped {
  position: relative;
}

.open.octicon {
  color: #28a745;
}

.no-underline {
  text-decoration: none !important;
}

.h4 {
  font-size: 16px !important;
}

.v-align-middle {
  vertical-align: middle !important;
}

.link-gray-dark {
  color: #24292e !important;
}

.paginate-container {
  margin-top: 20px;
  margin-bottom: 15px;
  text-align: center;
}

.protip {
  margin-top: 20px;
  text-align: center;
}

.text-gray {
  color: #586069 !important;
}

.subnav::after {
  display: table;
  clear: both;
  content: "";
}

.subnav::before {
  display: table;
  content: "";
}

.container::before {
  display: table;
  content: "";
}
.container::after {
  display: table;
  clear: both;
  content: "";
}

.table-list-header::before {
  display: table;
  content: "";
}

.table-list-header::after {
  display: table;
  clear: both;
  content: "";
}

.select-menu-button::after {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: -2px;
  content: "";
  border: 4px solid;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}

.select-menu-item-text {
  display: block;
  text-align: left;
}

.select-menu.active .select-menu-modal-holder {
  display: block;
}

.table-list-header-toggle .select-menu-modal-holder {
  right: 10px;
}

.table-list-header-toggle .select-menu-modal-holder .select-menu-modal {
  margin-top: -1px;
}

.select-menu-header, .select-menu-divider {
  padding: 8px 10px;
  line-height: 16px;
  background: #f6f8fa;
  border-bottom: 1px solid #e1e4e8;
}

.select-menu-header .close-button, .select-menu-header .octicon {
  display: block;
  float: right;
  color: #c6cbd1 !important;
  cursor: pointer;
}

.select-menu-header .select-menu-title, .select-menu-divider {
  font-weight: 600;
  color: #24292e;
}

.select-menu-filters {
  background-color: #f6f8fa;
}

.select-menu-text-filter:first-child:last-child {
  padding-bottom: 10px;
  border-bottom: 1px solid #dfe2e5;
}

.select-menu-text-filter {
  padding: 10px 10px 0;
}

.select-menu-text-filter input {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 5px;
  border: 1px solid #dfe2e5;
  border-radius: 3px;
}

.select-menu-item.navigation-focus, .select-menu-item.navigation-focus.selected, .select-menu-item.navigation-focus.select-menu-action, .select-menu-item.navigation-focus .description-inline {
  color: #fff;
  background-color: #0366d6;
}

.table-list-header-toggle .select-menu-modal-holder {
  right: 10px;
}

.select-menu.active .select-menu-modal-holder {
  display: block;
}

.select-menu-tabs {
  padding: 10px 10px 0;
  border-bottom: 1px solid #dfe2e5;
}

.select-menu-tabs .select-menu-tab {
  display: inline-block;
}

.select-menu-tabs a.selected, .select-menu-tabs .select-menu-tab-nav.selected {
  color: #24292e;
  background-color: #fff;
  border-color: #dfe2e5;
  border-bottom-color: #fff;
}

.select-menu-tabs a, .select-menu-tabs .select-menu-tab-nav {
  display: inline-block;
  padding: 4px 8px 2px;
  font-size: 11px;
  font-weight: 600;
  color: #6a737d;
  text-decoration: none;
  cursor: pointer;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 3px 3px 0 0;
}

.select-menu-no-results {
  padding: 9px;
  color: #586069;
  cursor: auto;
}

.select-menu-item.navigation-focus, .select-menu-item.navigation-focus.selected, .select-menu-item.navigation-focus.select-menu-action, .select-menu-item.navigation-focus .description-inline {
  color: #fff;
  background-color: #0366d6;
}

.mt-1 {
  margin-top: 4px !important;
}