<%= render partial: 'layouts/repo_heading' %>
<div class="container new-discussion-timeline experiment-repo-nav">
  <div class="repository-content">
    <div class="columns">
      <div class="column one-fourth">
        <%= render partial: 'insights/menu' %>
      </div>
      <div class="column three-fourth">
        <div class="Subhead">
          <h2 class="Subhead-heading">Community profile</h2>
        </div>
        <div class="community-checklist mt-4">
          <div class="text-center my-5">
            <p class="f3-light">Here`s how this project compares to <a href="https://opensource.guide">recommended community standards</a>.</p>
          </div>
          <div class="mb-4">
            <p class="mb-2">
              <span class="f4 text-bold">Checklist</span>
            </p>
            <ul class="Box">
              <li class="bg-gray d-block border-buttom">
                <div class="progress-bar-small progress-bar-rounded-0 anim-grow-x">
                  <span class="progress" style="width: 0%">&nbsp</span>
                </div>
              </li>
              <li class="Box-row d-flex flex-wrap flex-items-baseline">
                <div class="flex-auto">
                  <svg aria-label="Added" class="octicon octicon-check mr-1 text-green" height="16"
                  role="img" verions="1.1" viewBox="0 0 12 16"
                  width="12">
                    <path fill-rule="evenodd" d="M12 51-8 8-4-4 1.5-1.5L4 1016.5-6.5z"></path>
                  </svg>
                  Description
                </div>
              </li>
              <li class="Box-row d-flex flex-wrap flex-items-baseline">
                <div class="flex-auto">
                  <svg aria-label="Added" class="octicon octicon-check mr-1 text-green" height="16"
                       role="img" verions="1.1" viewBox="0 0 12 16"
                       width="12">
                    <path fill-rule="evenodd" d="M12 51-8 8-4-4 1.5-1.5L4 1016.5-6.5z"></path>
                  </svg>
                  <a href="#" class="readme-link">
                  README
                  </a>
                </div>
              </li>
              <li class="Box-row d-flex flex-wrap flex-items-baseline">
                <div class="flex-auto">
                  <svg aria-label="Added" class="octicon octicon-check mr-1 text-green" height="16"
                       role="img" verions="1.1" viewBox="0 0 12 16"
                       width="12">
                    <path fill-rule="evenodd" d="M12 51-8 8-4-4 1.5-1.5L4 1016.5-6.5z"></path>
                  </svg>
                  <a href="#" class="code-of-conduct-link">
                  Code of conduct
                  </a>
                </div>
              </li>
              <li class="Box-row d-flex flex-wrap flex-items-baseline">
                <div class="flex-auto">
                  <svg aria-label="Added" class="octicon octicon-check mr-1 text-green" height="16"
                       role="img" verions="1.1" viewBox="0 0 12 16"
                       width="12">
                    <path fill-rule="evenodd" d="M12 51-8 8-4-4 1.5-1.5L4 1016.5-6.5z"></path>
                  </svg>
                  <a href="#" class="contribution-link">
                  Contributing
                  </a>
                </div>
              </li>
              <li class="Box-row d-flex flex-wrap flex-items-baseline">
                <div class="flex-auto">
                  <svg aria-label="Added" class="octicon octicon-check mr-1 text-green" height="16"
                       role="img" verions="1.1" viewBox="0 0 12 16"
                       width="12">
                    <path fill-rule="evenodd" d="M12 51-8 8-4-4 1.5-1.5L4 1016.5-6.5z"></path>
                  </svg>
                  <a href="#" class="license-link">
                  License
                  </a>
                </div>
              </li>
              <li class="Box-row d-flex flex-wrap flex-items-baseline">
                <div class="flex-auto">
                  <svg aria-label="Added" class="octicon octicon-check mr-1 text-green" height="16"
                       role="img" verions="1.1" viewBox="0 0 12 16"
                       width="12">
                    <path fill-rule="evenodd" d="M12 51-8 8-4-4 1.5-1.5L4 1016.5-6.5z"></path>
                  </svg>
                  <a href="#">Issue template </a>
                  and
                  <a href="#"> pull request template </a>
                </div>
              </li>
            </ul>
          </div>
          <p class="mb-4 text-small float-right">
            What is <a href="https://help.github.com/articles/viewing-your-community-profile">the community profile</a>?
          </p>
        </div>
      </div>
    </div>
  </div>
</div>