<div class="container new-discussion-timeline experiment-repo-nav">
  <div class="repository-content">
    <div class="columns">
      <div class="column one-fourth">
        <%= render partial: 'insights/menu'%>
      </div>
      <div class="column three-fourth">
        <div class="graphs">
          <section class="js-graph graph-canvas commit-activity-graphs" data-graph-name="commit-activity"
                   data-url="#">
            <div class="activity">
              <img class="graph-loading dots" src="#" width="64" alt>
            </div>
            <div class="graph-error flash flash-error mt-6">
              <p>We tried our best, but the gaph wouldn`t load. Try reload the page.</p>
            </div>
            <section id="commit-activity-master" class="commit-activity=master mb-6" style="width: 730px;">
              <svg width="780" height="140" class="viz">
                <g transform="translate(30,10)"></g>
              </svg>
              <p>Commits info graph 1</p>
            </section>
            <section id="commit-activity-detail">
              <svg width="740" height="320" class="viz">
                <g transform="translate"></g>
              </svg>
              <p>Commits info graph 2</p>
            </section>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>