<div class="container new-discussion-timeline experiment-repo-nav">
  <div class="repository-content">
    <div class="columns">
      <div class="column one-fourth">
        <%= render partial: 'insights/menu' %>
      </div>
      <div class="column three-fourth">
        <div id="network" class="network">
          <div class="repo">
            <img alt="#" class="gravatar" height="16" src="#" width="16">
            <span class="current-repository">
              <a href="#">gitclub</a>
              /
              <a href="#">gitclub</a>
            </span>
          </div>
          <div class="repo">
            <img alt class="network-tree" src="#">
            <img alt="#" class="gravatar" height="16" src="#" width="16">
            <a href="#">andreydro</a>
            /
            <a href="#">gitclub</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>